body.page-home {
    background-image: linear-gradient(to bottom right, #333c42, #1D1E24);
}

body.page-register {
    /*
    background-image: linear-gradient(
        to bottom,
        #da3a17 10%,
        #f1cbc3 30%,
        #1D1E24 80%
    );
    
    */
    background-image: linear-gradient(to bottom, #da3a17, #1D1E24);
    background-repeat: no-repeat;
    background-color: #1D1E24;
}

#nav-bar {
    background-image: linear-gradient(to bottom right, #333c42, #1D1E24);
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: 'Athletic', sans-serif;
    letter-spacing: 1.5px;
}

.nav-elements a {
    padding: 20px;
    font-size: 22px;
    color: white;
    cursor: pointer;
    position: relative;
    font-family: 'Athletic', sans-serif;
    letter-spacing: 1.5px;
    text-decoration: none;
    max-height: 100%;
}

.nav-elements button {
    margin-right: 30px;
}

.nav-bar-button {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    border-color: #424242;
    border-radius: 30px;
    font-size: 16px;
    letter-spacing: 2px;


    width: 130px;
    height: 50px;
}

.nav-bar-button:hover {
    background-color: #ff5733;
    border-color: #ff5733;
}

.nav-bar-button-destaque {
    background-color: #ff5733;
    border-color: #ff5733;
}

.nav-bar-button-destaque:hover {
    background-color: #da3813;
    border-color: #da3813;
}

.div-branca {
    display: flex;
    /* Precisei usar para conseguir centralizar os botões com a div pai */
    justify-content: center;
    align-items: center;
}

.info-pages {
    margin-top: 70px;
    margin-bottom: 100px;
    font-family: 'ChakraPetchLight', sans-serif;
}

.info-pages h1 {
    color: white;
    font-size: 50px;
    font-family: 'ChakraPetchBold', sans-serif;
}

.info-pages p {
    color: white;
    
}

.info-pages button {
    color: white;
    font-family: 'ChakraPetchMedium', sans-serif;
    letter-spacing: 0.8px;
    font-weight: bold;
}

.info-pages-white-button {
    color: #1E1F25 !important;
    background-color: #f7f2ed;
    border-color: #f7f2ed;
}

.page-title {
    color: white;
    font-size: 50px;
    font-family: 'ChakraPetchBold', sans-serif;
}

.forms-font {
    font-family: 'ChakraPetchLight', sans-serif;
    color: white;
}

.form-submit-button {
    background-color: #ff5733;
    border-color: #ff5733;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
    letter-spacing: 2px;


    width: 280px;
    height: 60px;
}

.form-submit-button:hover {
    background-color: #da3813;
    border-color: #da3813;
}

@font-face {
    font-family: 'Athletic';
    src: url('/src/main/web/fonts/NewAthleticM54.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChakraPetchBold';
    src: url('/src/main/web/fonts/ChakraPetch-BoldItalic.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChakraPetchLight';
    src: url('/src/main/web/fonts/ChakraPetch-Light.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChakraPetchMedium';
    src: url('/src/main/web/fonts/ChakraPetch-Medium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

.invalid-feedback {
    color: rgb(252, 55, 55);
}

/* Caso use a mensagem de sucesso dos forms do Boostrap */
.valid-feedback {
    color: rgb(82, 245, 82);
}