body {
    font-family: 'ChakraPetchLight', sans-serif;
    color: white;
}

body.page-home {
    background-image: linear-gradient(to bottom right, #333c42, #1D1E24);
}

body.gradient-headers {
    background-image: linear-gradient(to bottom, #da3a17, #1D1E24);
    background-repeat: no-repeat;
    background-color: #1D1E24;
}

thead {
    font-family: ChakraPetchMedium;
    letter-spacing: 1.7px;
}

#nav-bar {
    background-image: linear-gradient(to bottom right, #333c42, #1D1E24);
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: 'Athletic', sans-serif;
    letter-spacing: 1.5px;
}

.nav-elements a {
    padding: 20px;
    font-size: 22px;
    color: white;
    cursor: pointer;
    position: relative;
    font-family: 'Athletic', sans-serif;
    letter-spacing: 1.5px;
    text-decoration: none;
    max-height: 100%;
}

.nav-elements button {
    margin-right: 30px;
}

.nav-bar-button {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    border-color: #424242;
    border-radius: 30px;
    font-size: 16px;
    letter-spacing: 2px;


    width: 130px;
    height: 50px;
}

.nav-bar-button:hover {
    background-color: #ff5733;
    border-color: #ff5733;
}

.nav-bar-button-destaque {
    background-color: #ff5733;
    border-color: #ff5733;
}

.nav-bar-button-destaque:hover {
    background-color: #da3813;
    border-color: #da3813;
}

.div-branca {
    display: flex;
    /* Precisei usar para conseguir centralizar os botões com a div pai */
    justify-content: center;
    align-items: center;
}

.info-pages {
    margin-top: 70px;
    margin-bottom: 100px;
}

.info-pages h1 {
    color: white;
    font-size: 50px;
    font-family: 'ChakraPetchBold', sans-serif;
}

.info-pages p {
    color: white;

}

.info-pages button {
    color: white;
    font-family: 'ChakraPetchMedium', sans-serif;
    letter-spacing: 0.8px;
    font-weight: bold;
}

.info-pages a {
    text-decoration: none;
    color: inherit;
}

.info-pages-white-button {
    color: #1E1F25 !important;
    background-color: #f7f2ed;
    border-color: #f7f2ed;
}

.page-title {
    color: white;
    font-size: 50px;
    font-family: 'ChakraPetchBold', sans-serif;
}

.subtitle {
    color: white;
    font-size: 50px;
    font-family: 'ChakraPetchBold', sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
    /* Se precisar remover esse margin, conferir os HTML que o utilizam antes */
}

.form-submit-button {
    background-color: #ff5733;
    border-color: #ff5733;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
    letter-spacing: 2px;


    width: 280px;
    height: 60px;
}

.form-submit-button:hover {
    background-color: #da3813;
    border-color: #da3813;
}

.card-submit-button {
    background-color: #ff5733;
    border-color: #ff5733;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 15px;
    font-size: 1em;
    letter-spacing: 1px;

    padding-top: 3%;
    padding-bottom: 3%;
}

.card-submit-button:hover {
    background-color: #da3813;
    border-color: #da3813;
}

.option-button-selected {
    background-color: #33beff !important;
    border-color: #33beff !important;
}

.karts-cards {
    font-family: 'ChakraPetchMedium', sans-serif;
}

.karts-cards p {
    color: #939699 !important;
    font-size: 0.75em;
    margin-top: -3%;
}

.karts-cards h5 {
    color: white !important;
}

@font-face {
    font-family: 'Athletic';
    src: url('/src/main/web/fonts/NewAthleticM54.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChakraPetchBold';
    src: url('/src/main/web/fonts/ChakraPetch-BoldItalic.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChakraPetchLight';
    src: url('/src/main/web/fonts/ChakraPetch-Light.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChakraPetchMedium';
    src: url('/src/main/web/fonts/ChakraPetch-Medium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
}


/* Boostrap styles */
.form-control:focus {
    box-shadow: 0 0.5rem 1rem rgba(214, 73, 18, 0.411);
    border-color: rgb(255, 91, 41);
}

.form-select:focus {
    box-shadow: 0 0.5rem 1rem rgba(214, 73, 18, 0.411);
    border-color: rgb(255, 91, 41);
}

.form-check-input:focus {
    box-shadow: 0 0.5rem 1rem rgba(214, 73, 18, 0.411);
    border-color: rgb(255, 91, 41);
}

.form-check-input:checked {
    background-color: #ff5733;
    border-color: #ff5733;
}

.invalid-feedback {
    color: rgb(252, 55, 55);
}

/* Caso use a mensagem de sucesso dos forms do Boostrap */
.valid-feedback {
    color: rgb(82, 245, 82);
}

.card {
    background-image: linear-gradient(to bottom, #333c42 50%, #1D1E24);
    border: transparent;
}

.table {
    border-color: transparent;
}

footer {
    background-color: #333c42;
    padding: 40px 0;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    width: 22%;
}

.footer-column h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-family: 'ChakraPetchMedium', sans-serif;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-column ul li::before {
    content: '› ';
    margin-right: 5px;
    color: #ffffff;
}

/* Estilos para a mensagem de copyright */
.footer-copyright {
    text-align: center; /* Centraliza o texto */
    margin-top: 20px; /* Adiciona um espaçamento entre as colunas e a mensagem de copyright */
    font-size: 0.9em; /* Tamanho de fonte menor para o copyright */
    color: #ffffff; /* Cor branca para o texto de copyright */
  }
  
  .footer-copyright p {
    margin: 0;
  }