body {
    font-family: 'ChakraPetchLight', sans-serif;
    color: var(--main-font-color);
}

body.page-home {
    background-image: linear-gradient(to bottom right, var(--light-bg-color), var(--dark-bg-color));
}

body.gradient-headers {
    background-image: linear-gradient(to bottom, #da3a17, var(--dark-bg-color));
    background-repeat: no-repeat;
    background-color: var(--dark-bg-color);
}

thead {
    font-family: ChakraPetchMedium;
    letter-spacing: 1.7px;
}

footer {
    background-color: var(--light-bg-color);
    padding: 40px 0;
    color: var(--main-font-color);
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    width: 22%;
}

.footer-column h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-family: 'ChakraPetchMedium', sans-serif;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: var(--main-font-color);
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-column ul li::before {
    content: '› ';
    margin-right: 5px;
    color: #ffffff;
}


.footer-copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #ffffff;
}

.footer-copyright p {
    margin: 0;
}

:root {
    --light-bg-color: #333c42;
    --dark-bg-color: #1D1E24;

    --main-font-color: white;

    --secondary-button-color: #f7f2ed;

    --main-orange: #ff5733;
    --main-orange-hover: #da3813;
}

#nav-bar {
    background-image: linear-gradient(to bottom right, var(--light-bg-color), var(--dark-bg-color));
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: 'Athletic', sans-serif;
    letter-spacing: 1.5px;
}

.nav-elements a {
    padding: 20px;
    font-size: 22px;
    color: var(--main-font-color);
    cursor: pointer;
    position: relative;
    font-family: 'Athletic', sans-serif;
    letter-spacing: 1.5px;
    text-decoration: none;
    max-height: 100%;
}

.nav-elements button {
    margin-right: 30px;
}

.nav-bar-button {
    background-color: transparent;
    color: var(--main-font-color);
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    border-color: #424242;
    border-radius: 30px;
    font-size: 16px;
    letter-spacing: 2px;


    width: 130px;
    height: 50px;
}

.nav-bar-button:hover {
    background-color: var(--main-orange);
    border-color: var(--main-orange);
}

.nav-bar-button-destaque {
    background-color: var(--main-orange);
    border-color: var(--main-orange);
}

.nav-bar-button-destaque:hover {
    background-color: var(--main-orange-hover);
    border-color: var(--main-orange-hover);
}

.div-branca {
    display: flex;
    /* Precisei usar para conseguir centralizar os botões com a div pai */
    justify-content: center;
    align-items: center;
}

.info-pages {
    margin-top: 70px;
    margin-bottom: 100px;
}

.info-pages h1 {
    color: var(--main-font-color);
    font-size: 50px;
    font-family: 'ChakraPetchBold', sans-serif;
}

.info-pages p {
    color: var(--main-font-color);

}

.info-pages button {
    color: var(--main-font-color);
    font-family: 'ChakraPetchMedium', sans-serif;
    letter-spacing: 0.8px;
    font-weight: bold;
}

.info-pages a {
    text-decoration: none;
    color: inherit;
}

.info-pages-white-button {
    color: #1E1F25 !important;
    background-color: var(--secondary-button-color);
    border-color: var(--secondary-button-color);
}

.page-title {
    color: var(--main-font-color);
    font-size: 50px;
    font-family: 'ChakraPetchBold', sans-serif;
}

.subtitle {
    color: var(--main-font-color);
    font-size: 50px;
    font-family: 'ChakraPetchBold', sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
    /* Se precisar remover esse margin, conferir os HTML que o utilizam antes */
}

.form-submit-button {
    background-color: var(--main-orange);
    border-color: var(--main-orange);
    color: var(--main-font-color);
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
    letter-spacing: 2px;


    width: 280px;
    height: 60px;
}

.form-submit-button:hover {
    background-color: var(--main-orange-hover);
    border-color: var(--main-orange-hover);
}

.card-submit-button {
    background-color: var(--main-orange);
    border-color: var(--main-orange);
    color: var(--main-font-color);
    cursor: pointer;
    text-decoration: none;
    border-radius: 15px;
    font-size: 1em;
    letter-spacing: 1px;

    padding-top: 3%;
    padding-bottom: 3%;
}

.card-submit-button:hover {
    background-color: var(--main-orange-hover);
    border-color: var(--main-orange-hover);
}

.option-button-selected {
    background-color: #33beff !important;
    border-color: #33beff !important;
}

.karts-cards {
    font-family: 'ChakraPetchMedium', sans-serif;
}

.karts-cards p {
    color: #939699 !important;
    font-size: 0.75em;
    margin-top: -3%;
}

.karts-cards h5 {
    color: var(--main-font-color) !important;
}

.kartodromo-overview-topic p {
    cursor: pointer;
    color: var(--main-font-color);
}

.kartodromo-overview-topic p:hover {
    cursor: pointer;
    color: var(--main-orange);
}

.query-simple-button {
    display: inline-block;
    padding: 0px 20px 0px;
    font-size: 1.4em;
    font-family: ChakraPetchMedium;
    color: white; /* Cor de texto inicial */
    transition: color 0.3s ease, text-shadow 0.3s ease; /* Transição suave */
    cursor: pointer; /* Mostra que o texto é interativo */
}

.query-simple-button:hover {
    color: #c9c7c7; /* Cor do texto ao passar o mouse */
}

.not-found-message {
    margin: 5%;
    display: none;
}

@font-face {
    font-family: 'Athletic';
    src: url('/src/main/web/fonts/NewAthleticM54.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChakraPetchBold';
    src: url('/src/main/web/fonts/ChakraPetch-BoldItalic.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChakraPetchLight';
    src: url('/src/main/web/fonts/ChakraPetch-Light.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChakraPetchMedium';
    src: url('/src/main/web/fonts/ChakraPetch-Medium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
}


/* Boostrap styles */
.form-control:focus {
    box-shadow: 0 0.5rem 1rem rgba(214, 73, 18, 0.411);
    border-color: rgb(255, 91, 41);
}

.form-select:focus {
    box-shadow: 0 0.5rem 1rem rgba(214, 73, 18, 0.411);
    border-color: rgb(255, 91, 41);
}

.form-check-input:focus {
    box-shadow: 0 0.5rem 1rem rgba(214, 73, 18, 0.411);
    border-color: rgb(255, 91, 41);
}

.form-check-input:checked {
    background-color: var(--main-orange);
    border-color: var(--main-orange);
}

/* Colocar esse estilo em todo <input> que está em um <form> do bootstrap que NÃO é preciso ser validado.
    O Bootstrap vê ele como validação e troca as cores das bordas, mas as vezes o botão não precisa ser validado
    como "Lembrar meu usuário" */
.form-check-dont-validate {
    border-color: transparent !important;
}

.invalid-feedback {
    color: rgb(252, 55, 55);
}

/* Caso use a mensagem de sucesso dos forms do Boostrap */
.valid-feedback {
    color: rgb(82, 245, 82);
}

#kartodromos .card {
    background-image: linear-gradient(to bottom, var(--light-bg-color) 50%, var(--dark-bg-color));
    border: transparent;
}

#lista-kartodromos {
    & .card {
        border: transparent;
    }

    & .card-header {
        background-image: linear-gradient(to right, var(--light-bg-color), var(--dark-bg-color));
    }
}

.table {
    border-color: transparent;
}