<footer style="margin-top: 100px;">
  <div class="footer-container">
    <div class="footer-column">
      <h3>Informações</h3>
      <ul>
        <li><a href="/src/main/web/about.html">Sobre Nós</a></li>
        <li><a href="/src/main/web/about.html">Informações de Funcionamento</a></li>
        <li><a href="/src/main/web/about.html">Política de Privacidade</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Atendimento</h3>
      <ul>
        <li><a href="/src/main/web/contact.html">Fale Conosco</a></li>
        <li><a href="/src/main/web/join.html">Seja Parceiro</a></li>
        <li><a href="/src/main/web/join-terms.html">Termos de parcerias</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Extras</h3>
      <ul>
        <li><a href="/src/main/web/sponsors.html">Parceiros</a></li>
        <li><a href="/src/main/web/kartodromo-list.html">Kartódromos</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Contas</h3>
      <ul>
        <li><a href="/src/main/web/register.html">Criar uma conta</a></li>
        <li><a href="/src/main/web/login.html">Fazer login</a></li>
        <li><a href="/src/main/web/admin.html">Área administrativa</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <p>&copy; 2024 KartConnect. Todos os direitos reservados.</p>
  </div>
</footer>